* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif ;
    margin: 0;
    padding: 0;
}

body {
    color: #006437;
}

header {
    background-color: #006437;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

header a {
    color: #FFFFFF;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}   

#historia {
    display: flex;
    align-items: center;
    gap: 32px;
    /* topo, direita, baixo, esquerda */
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1,
h2 {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 60px;
}

.paragrafo {
    line-height: 160%;
    margin-bottom: 32px;
}

.botao {
    background-color: #006437;
    border-radius: 8px;
    /* vertical, horizontal */
    padding: 16px 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.absolute {
    position: absolute;
    bottom: 6;
    left: 6;
    width: 100%;
    z-index: -50;
    opacity: 0.1;
}

#palmeiras {
    display: flex;
    align-items: center;
    gap: 84px;
    padding: 64px 80px;
}

#palmeiras li {
    margin-bottom: 16px;
    margin-left: 32px;
}

#titulos {
    padding: 64px 80px;
    text-align: center;
}

#titulos img {
    margin: 64px auto;
}

#titulos .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

#idolos {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px; 
}

.idolos {
    position: relative;
}

.idolos h3 {
    border: 2px solid #006437;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.idolos img {
    position: absolute;
    top: 32px;
    right: 24px;    
}

.idolos .paragrafo {
    border-right: 1px solid #006437;
    border-bottom: 1px solid #006437;
    border-left: 1px solid #006437;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s
}

.idolos.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

footer {
    background-color: rgba(167, 255, 108, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin: 24px;
}

footer nav a {
    color: #006437;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a {
    color: #006437;
    text-decoration: none;
}

#copyright {
    background-color: #006437;
    text-align: center;
    padding: 24px;
    color: #FFFFFF;
}

#copyright a {
    color: #FFFFFF;
    text-decoration: none;
}